<div class="header-bar d-flex justify-between align-center">
  <div class="logo">
    opendesk <i class="fa fa-inbox" aria-hidden="true"></i>
  </div>

  <div class="links">
    <a href="#">Products</a>
    <a href="#">Workspaces</a>
    <a href="#">Community</a>
    <a href="#">Journal</a>
    <a href="#">How it Works</a>
  </div>

  <div class="sign d-flex justify-between align-center">
    <span> 
      <i class="fa fa-calendar-o " aria-hidden="true"></i>
      {{total}} ITEMS
    </span>
    <span class="horizental-line">
    </span>
    <span>
      SIGN IN
    </span>
    <span class="sign-up">
      SIGN UP
    </span>
  </div>
</div>