.header-bar{
    padding: 0px 20px;
    min-height: 50px;
    color: #333;
}

.links a {
    color: #b9b9b9;
    text-decoration: none;
    padding: 0px 10px;
}

.logo{
    font-weight: bold;
}

.sign {
    width: 250px;
    font-size: 10px;
}

.sign-up{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}
.horizental-line{
    height: 18px;
    width: 1px;
    background: #ccc;
}   


