<div class="nav">
  <div class="custom-container d-flex justify-between align-center">
    <span class="selected">
      1.CONFIRM YOUR ITEMS
    </span>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span>
      2.REQUEST QUOTES
    </span>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span>
      3.MANAGE QUOTES
    </span>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span>
      4.ACCEPT QUOTES
    </span>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <span>
      4.MAKE PAYMENT
    </span>
  </div>
</div>