.button-container{
    .confirm{
        padding: 10px 20px;
        background: #389438;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #eee;
        margin: 20px 0px;
        cursor: pointer;
    }
}