/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.flex-1{
    flex: 1;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.overflow-auto{
    overflow: auto;
}


.custom-container {
    margin: 0 auto;
}

.img-container{
    background-position: center;
    background-size: cover;
}


.items{
    height: 100%;
    overflow: hidden;
    background: #e8e8e8;
    >div{
        width: 100%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .custom-container{
        max-width: 300px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .custom-container{
        max-width: 600px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .custom-container{
        max-width: 800px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .custom-container{
        max-width: 1100px;
    }
}


